.animation-bounce {
  animation: BounceInfinite 1s infinite;
}

@keyframes BounceInfinite {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/**
 * ----------------------------------------
 * animation scale-in-ver-bottom
 * ----------------------------------------
 */
.scale-in-ver-bottom {
  animation: scale-in-ver-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-ver-bottom {
  0% {
    height: 0;
  }
  100% {
    height: 160px;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-ver-bottom
 * ----------------------------------------
 */
.scale-out-ver-bottom {
  animation: scale-out-ver-bottom 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes scale-out-ver-bottom {
  0% {
    height: 160px;
  }
  100% {
    height: 0;
  }
}
